.explore {
    position: sticky;
    top: 0;
}

.explore__placeholder {
    padding: 1em;
    color: var(--dark-gray);
    text-align: center;
}

.searchBar {
    position: relative;
    width: 100%;
}

.searchBar__input {
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px var(--secondary-bg-color) solid;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: .5rem;
    padding-left: 2.5em;
    width: 100%;
}

.explore__users {
    background-color: var(--bg-color);
    position: absolute;
    width: 95%;
    margin-left: 13px;
    box-shadow: 0 1px 8px -4px var(--txt-color);
    max-height: 300px;
    overflow-y: auto;
    border-radius: .5rem;
    z-index: 5;
    transform-origin: top;
    transition: transform .2s;
}

.explore__userCard {
    cursor: pointer;
    padding: .5em;
    display: flex;
    gap: .5rem;
}

.explore__userCard__photo {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
}

.explore__topbar {
    position: sticky;
    top: 0;
    padding: .5em;
    background-color: var(--bg-color);
    z-index: 5;
}

.searchBar__input:focus {
    background-color: var(--bg-color);
    border: 1px var(--main-color) solid;
}

.searchBar__icon {
    position: absolute;
    left: .8em;
    top: .6em;
    z-index: 2;
    color: var(--dark-gray);
}

.results__navbar {
    background-color: var(--bg-color);
    position: sticky;
    top: 53px;
    z-index: 4;
}

.results__tweetCard {
    border: 1px var(--border-color) solid;
    border-bottom: none;
}

.results__users {
    border: 1px var(--border-color) solid;
    border-bottom: none;
    margin: 5px 0;
}

.results__users__title {
    font-size: 1.4rem;
    border-bottom: 1px var(--border-color) solid;
    padding: .5rem 1rem;
}

.suggestion {
    border: 1px var(--border-color) solid;
    margin: 1em 0;
}

.suggestion--sideBar {
    border-radius: 1rem;
    background-color: var(--secondary-bg-color);
    border: none;
    padding-bottom: .5rem;
    margin: 1em;
}

.suggestion .suggetion__title {
    padding-bottom: 1em;
}

.suggestion__title {
    padding: .5em 0;
    font-size: 1.3em;
    text-indent: 1rem;
    border-bottom: 1px var(--border-color) solid;
}

.suggestion .userCard {
    padding-left: 1rem;
    padding-right: .5rem;
}

.suggestion .userCard:hover {
    background-color: var(--bg-color);
}