.explore {
    padding: 1em;
    position: sticky;
    top: 0;
}

.explore__users {
    background-color: var(--bg-color);
    margin-top: -1px;
    position: relative;
    box-shadow: 0 0 8px -4px var(--txt-color);
    z-index: 2;
    max-height: 300px;
    overflow-y: auto;
}

.explore__userCard {
    cursor: pointer;
    padding: .5em;
    display: flex;
    gap: .5rem;
}

.explore__userCard__photo {
    height: 40px;
    min-height: 40px;
    width: 40px;
    min-width: 40px;
}

.searchBar {
    position: relative;
    width: 100%;
}

.searchBar__input {
    font-size: 1rem;
    border-radius: 2rem;
    border: 1px var(--secondary-bg-color) solid;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    padding: .5rem;
    padding-left: 2.5em;
    width: 100%;
}

.searchBar__input:focus {
    background-color: var(--bg-color);
    border: 1px var(--main-color) solid;
}

.searchBar__icon {
    position: absolute;
    left: .8em;
    top: .6em;
    z-index: 2;
    color: var(--dark-gray);
}