.home {
    flex-basis: 600px;
    border: 1px var(--border-color) solid;
    border-top: none;
    border-bottom: none;
}

.header {
    display: flex;
    padding: 1rem 1rem;
    border-bottom: .1px var(--border-color) solid;
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 2;
    align-items: center;
    gap: 1em;
}

.header__title {
    font-size: 20px;
}

.header__profilePicture {
    display: none;
    width: 30px;
    height: 30px;
}

.tweetar__button {
    padding: .7em 1.2em;
    align-content: center;
}

.home__tweetar {
    max-width: 600px;
    border-bottom: .1px var(--border-color) solid;
}

@media screen and (max-width: 500px) {
    .home {
        border: none;
    }
    .header__profilePicture {
        display: block;
    }
}