.home {
    flex-basis: 600px;
}

.header__wrapper {
    display: flex;
    padding: .7rem 1rem;
    border: 1px rgba(0, 0, 0, 0.068) solid;
    background-color: white;
    position: sticky;
    top:0;
    z-index: 2;
    align-items: center;
    gap: 1em;
}

.header__title {
    font-size: 20px;
}

.header__profilePicture {
    display: none;
    width: 30px;
    height: 30px;
}

.tweetar__button {
    padding: .7em 1.2em;
    align-content: center;
}

.home__tweetar {
    max-width: 600px;
    border: 1px rgba(0, 0, 0, 0.068) solid;
}

@media screen and (max-width: 500px) {
    .header__profilePicture {
        display: block;
    }
}