.tweet:hover, .options__btn:hover, .profileCard__details__logOff:hover, .toggleableSideBar__buttons__item:hover, .explore__userCard:hover {
    background: var(--secondary-bg-color);
}

.tweet__footer__item--reply:hover, .navbar__item:hover, .profile__nav__item:hover {
    color: var(--main-color);
}

.tweet__footer__item--retweet:hover {
    color: var(--green);
}

.tweet__footer__item--heart:hover {
    color: var(--red)
}

.navbar__item:hover, .navHeader__icon:hover, .mainSideBar__profileCard--min:hover, .profile__header__button:hover, .profile__nav__item:hover {
    background-color: var(--light-main-color);
}

.underline:hover {
    text-decoration: underline;
}

.noUnderline:hover {
    text-decoration: none;
}

.followersOptions__item:hover {
    background-color: var(--light-main-color);
}

.uploadPhotoIcon:hover, .expandedPicture__close:hover {
    background-color: var(--dark-gray);
}