.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    width: 90vw;
    max-width: 540px;
    margin: 0 auto;
    height: 80vh;
}

.login__icon {
    font-size: 2.5em;
    color: var(--main-blue); 
}

.login__title {
    font-size: 1.5em;
}


.login__input {
    width: 98%;
    display: flex;
    flex-direction: column;
}

.login__button {
    width: 100%;
    padding: 1em!important;
}

.login__signUp {
    text-decoration: none;
    font-size: .9em;
    color: var(--main-blue);
}

.login__errorMessage {
    color: var(--red);
    align-self: flex-end;
}