.profile {
    border: 1px var(--border-color) solid;
    border-top: none;
    border-bottom: none;
}

.profile__header {
    position: sticky;
    top: 0;
    box-sizing: content-box;
    background-color: var(--bg-color);
    z-index: 2;
}

.profile__header__icon {
    margin: 0 1rem;
}

.profile__header__desc {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile__header__desc__name {
    font-weight: bold;
    font-size: 1.2rem;
}

.profile__header__desc__tweets {
    font-size: .8rem;
    color: var(--dark-gray);
}

.profile__photos {
    position: relative;
}

.cover {
    max-height: 200px;
    height: 200px;
    max-height: 35vw;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.profile__photos__picture {
    width: 150px;
    height: 150px;
    max-width: 30vw;
    max-height: 30vw;
    position: absolute;
    bottom: -50px;
    left: 1em;
    border: 5px var(--bg-color) solid;
    border-radius: 100%;
}

.profile__header__button {
    display: block;
    margin: .5rem 1rem;
    margin-left: auto;
    margin-bottom: 0;
    border: 1px var(--main-color) solid;
    background: transparent;
    color: var(--main-color);
    padding: .6rem .8rem;
    border-radius: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    min-width: 45px;
}

.followingLabel {
    color: var(--white);
    background: var(--main-color);
    border: 1px transparent solid;
}

.followingLabel:hover {
    background: var(--red);
}

.followingLabel::before {
    content: 'Seguindo';
}

.followingLabel:hover::before {
    content: 'Deixar de seguir';
}

.profile__follow {
    position: sticky;
    top: 10px;
    z-index: 3;
}

.profile__details {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profile__details__more {
    display: flex;
    flex-wrap: wrap;
}

.profile__id .displayName {
    font-weight: bold;
}

.profile__bio {}

.profile__details__more {
    color: var(--dark-gray);
    gap: .5rem;
}

.details__more__item {
    display: flex;
    gap: .2rem;
}

.details__more__webpage {
    color: var(--main-color);
}

.profile__nav {
    display: flex;
    border-bottom: 1px var(--border-color) solid;
    max-width: 87vw;
}

.profile__nav__item {
    background: transparent;
    border: none;
    color: var(--dark-gray);
    padding: 1em 2em;
    font-weight: bold;
    font-family: Helvetica;
    cursor: pointer;
    flex-grow: 1;
    white-space: nowrap;
    box-sizing: content-box;
}

.edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 90vh;
    background-color: var(--bg-color);
    border-radius: 1rem;
    overflow-y: auto;
}

.edit__header {
    gap: 1em;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: var(--bg-color);
}

.edit__header__close {
    box-sizing: content-box;
    padding: .3rem .5rem;
}

.edit__header__close--arrow {
    display: none;
}

.edit__header__title {
    font-size: 1.4rem;
}

.edit__header__button {
    margin-left: auto;
}

.edit__input {
    margin-top: 60px;
    margin-bottom: 2rem;
}

.edit__input__item {
    max-width: 90%;
    margin: 0 auto;
}

.expandedProfilePicture {
    background-color: #3e2725de;
}

.expandedProfilePicture__img {
    width: 370px;
    height: 370px;
    max-width: 95vw;
    max-height: 95vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.expandedPicture__close {
    font-size: 1.3em;
    box-sizing: content-box;
    padding: .35rem .5rem;
    border-radius: 100%;
    position: relative;
    top: 1rem;
    left: 1rem;
    background-color: #3e2725de;
    z-index: 11;
}

.expandedCoverPicture__img {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 1em;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    background-repeat: no-repeat;
}

.followersOptions {
    display: flex;
    border-bottom: 1px var(--border-color) solid;
}

.followersOptions__item {
    flex-grow: 1;
    text-align: center;
    padding: 1em 0;
}

.followersOptions__item--selected {
    color: var(--maincolor);
    border-bottom: 1px var(--main-color) solid;
}

@media screen and (max-width: 600px) {
    .edit {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .edit__header__close--arrow {
        display: block;
    }
    .edit__header__close--x {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .profile__nav {
        max-width: 100vw;
    }
}