.wrapper {
    position: relative;
}

.tweet {
    display: flex;
    padding: .5rem 1rem;
    gap: .5rem;
    border-bottom: .1px var(--border-color) solid;
    cursor: pointer;
    max-width: 100vw;
}

.tweet__profilePicture {
    width: 50px;
    min-width: 50px;
    height: 50px;
}

.tweet__header {
    display: flex;
    gap: .5em;
    font-weight: 300;
    color: var(--dark-gray);
    white-space: nowrap;
    max-width: 80%;
}

.tweet__header .ellipsized {
    max-width: 20vw;
}

.tweet__showOptions {
    position: absolute;
    top: 8px;
    right: 12px;
    margin-left: auto;
    color: var(--dark-gray);
}

.tweet__options {
    width: 200px;
    position: absolute;
    right: 1em;
    top: 1em;
    background: var(--bg-color);
    box-shadow: 0 0 4px black;
    transition: transform .2s;
    transform-origin: top;
    z-index: 5;
}

.options__btn {
    padding: .7rem 1rem;
    border: none;
    background: transparent;
    font-size: 16px;
    font-family: 'Arial';
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: var(--txt-color);
}

.options__icon {
    color: var(--dark-gray);
}

.options__delete {
    color: var(--red);
}

.tweet__post {
    word-wrap: break-word;
}

.tweet__footer {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
}

.tweet__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
}

.tweet__footer__item {
    display: flex;
    gap: .5rem;
    color: var(--dark-gray);
}

.tweet__footer__item__icon {
    cursor: pointer;
}

.tweet__footer__item__label {
    width: 74px;
    max-width: 15vw;
    min-height: 19px;
}

.heart--liked {
    color: var(--red);
}

.retweet--retweeted {
    color: var(--green);
}