.wrapper { 
    position: relative;
}

.tweet { 
    display: flex;
    padding: .5rem 1rem;
    gap: .5rem;
    border: .1px var(--x-x-light-gray) solid;
}

.tweet__profilePicture {
    width: 50px;
    height: 50px;
}

.tweet__header {
    display: flex;
    gap: .5em;
    cursor: pointer;
    color: var(--dark-gray);
    font-weight: 300;
}

.tweet__displayName {
    font-size: 1rem;
    color: var(--black);
}

.tweet__username {
    font-weight: 300;
}

.tweet__showOptions {
    margin-left: auto;
    color: var(--dark-gray);
}

.tweet__options {
    width: 200px;
    position: absolute;
    right: 1em;
    top: 1em;
    background: white;
    box-shadow: 0 0 4px black;
    transition: transform .1s;
    transform-origin: top;
}

.options__btn {
    padding: .7rem 1rem;
    border: none;
    background: transparent;    
    font-size: 16px;
    font-family: 'Arial';
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.options__icon {
    color: var(--dark-gray);
}

.options__delete {
    color: var(--red);
}

.tweet__post {
    word-wrap: break-word;
}

.tweet__footer {
    display: flex;
    justify-content: space-between;
}

.tweet__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .25rem;
}

.tweet__footer__item {
    display: flex;
    gap: .5rem;
    color: var(--dark-gray);
    cursor: pointer;

}
