:root {
    --main-blue: #1da1f2;
    --dark-gray: #6b7b88;
    --black: #0f1419;
    --light-gray: #AAB8C2;
    --x-light-gray: #e1e8ed;
    --x-x-light-gray: #f5f3fa;
    --white: #FFFFFF;
    --red: #ff2c92;
    --green: #1db954;
    --light-blue: #1da0f228;
}

.app {
    font-family: '-apple-system', 'BlinkMacSystemFont', "Segoe UI",  'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    color: var(--black);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color .15s ease-in, color .15s ease-out;
    outline: 0;
}